.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}

.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
}

.Todo-task.completed {
  opacity: 0.6;
}

.Todo-task.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo-buttons {
  flex-shrink: 0;
  padding-left: 0.7em;
}

.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
}

.Todo-edit-form {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.Todo-edit-form input,
.Todo-edit-form select {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  width: 100%;
}

.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transform: background 0.2s ease-out;
}

.Todo-edit-form button:hover {
  background: #ff5e5e;
}

.Todo-edit-form input,
.Todo-edit-form select,
.Todo-edit-form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}

.priority-badge {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 50px;
}

.priority-high {
    background-color: #ff4444;
    color: white;
}

.priority-medium {
    background-color: #ffbb33;
    color: black;
}

.priority-low {
    background-color: #00C851;
    color: white;
}

.todo-date{
  margin-left: 60px;
}

.status-badge {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 35px;
}
.status-not-started {
    border: 1px solid #b6f1ff;
    color: #b6f1ff;
    padding: 4px 7px;
    font-weight: bold;
}

.status-in-progress {
    border: 1px solid #ffa8fc;
    color: #ffa8fc;
    padding: 4px 7px;
    font-weight: bold;
}

.status-completed {
    border: 1px solid #ffcc8a;
    color: #ffcc8a;
    padding: 4px 7px;
    font-weight: bold;
}






.NewTodoForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.NewTodoForm input,
.NewTodoForm select {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  height: 48px;
    width: 100%;
  font-size: initial;
}
.NewTodoForm select {
  padding: 0 .5em;
}

.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transform: background 0.2s ease-out;
}

.NewTodoForm button:hover {
  background: #ff5e5e;
}

.NewTodoForm input,
.NewTodoForm button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}





.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 850px;
  background: #1b457a;
  color: #fff;
  /* box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1); */
}

.TodoList h1{
      margin-bottom: 1.5rem;
}

.TodoList ul {
  margin-top: .5rem;
  list-style: none;
  padding-left: 0rem;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}


.theader{
  display: flex;
  justify-content: space-between;
      margin-top: 50px;
}

@media (max-width: 767px) {
    .TodoList {
      padding: 2rem 1rem 3rem;
    }

    .Todo {
        flex-wrap: wrap;
    }

    .NewTodoForm .col {
        flex: 0 0 1;
        width: 100%;
    }
    .NewTodoForm button,
    .Todo-edit-form button {
      margin-left: 0px;
      width: 100%;
    }

    .Todo-edit-form {
        flex-wrap: wrap;
    }
}